.board{
    display: grid;
    /* justify-content: center; */
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    
}
.board > div {
    border: 2px solid;
    font-size: 30px;
    
    text-align: center;
    width: 100px;
    height: 100px;
}