.scoreboard{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid; */
}
.scoreboard > div {
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
}