@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    color: #333;
    font-family: "Arial", sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
    box-sizing: border-box;
  }
  
  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
  }
  
  .turn-container {
    width: 200px;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    position: relative;
  }
  
  .turn-container h3 {
    margin: 0;
    grid-column: span 2;
    color: #555;
  }
  
  .turn-container .turn-box {
    border: 3px solid #ddd;
    font-size: 1.6rem;
    font-weight: 700;
    color: #777;
    background-color: #fff;
    width: 80px;
    height: 40px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .box {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: #e6f7ff;
    
  }
  
  .box:hover {
    background-color: #b3e0ff;
  }
  
  .winning-cell {
    animation: winner 0.5s alternate infinite;
  }
  
  @keyframes winner {
    from {
      background-color: #28a745;
      color: #fff;
    }
    to {
      background-color: #fff;
      color: #28a745;
    }
  }
  
  #reset-game {
    background-color: #007bff;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin: 10px;
  }
  
  #reset-game:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  #result {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    margin-top: 20px;
    display: none;
  }
  